body {
    margin: 0;
    color: #fafafa;
    font-family: Bellota, sans-serif;
    font-size: 15px;
}

.hero-image {
    position: relative;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://www.grammy.com/sites/com/files/styles/image_landscape_hero/public/muzooka/U2/U2_16_9_1578385237.jpg?itok=zqBgR15h");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*--------------------navbar---*/
.navbar ul {
    text-align: left;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar li {
    display: inline-block;
    font-size: 22px;
    padding: 0 10px;
}

.navbar a {
    color: #fafafa;
    font-family: Piedra, sans-serif;
}

.navbar a:hover {
    text-decoration: none;
}

/*-----------------header------*/
.header-style { 
    font-family: Piedra, sans-serif;
    text-align: center;
    margin: 20px, auto;
}


/*-----------------Main content------*/

.main-content {
    font-family: Bellota, sans-serif;
    margin-left: 30%;
    margin-right: 30%;
}

.column-content {
    font-family: Bellota, sans-serif;
    margin-left:20%;
    margin-right: 20%;
}

.content-image {
    width: 100px;
    height: 150px;
}


.achievements {
    font-family: Bellota, sans-serif;
    margin: auto 20%;
}

/*--------------------padding and margins------*/

.intro-margins {
    margin-top: 20px;
    margin-bottom: 40px;
}
.image-margin {
    margin-left: 20%;
    margin-right: 5px;
}
.section-margin {
    margin-bottom: 50px;
}
.album-margin {
    margin: 20px 10%;
}

/*--------------------band member---*/

.band-images {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

/*-----------------albums----*/

.album-text {
     font-family: Piedra, sans-serif;
     text-align: center;
}
.album-images {
    height: 100px;
    width: 100px;
    border-radius: 50%;
     display: block;
  margin-left: auto;
  margin-right: auto;
}

/*-----------------map----*/
div#map {
    min-height: 360px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    
}

.map-style {
    color: black;
    text-align: center;
}
/*-----------------map buttons------------*/

.button-list {
    text-align: center;
}

.button-list li {
    display: inline-block;
    text-align: center;
}

 .button-panel {
        color: black;
        padding: 5px;
        text-align: center;
        font-family: Piedra,'sans-serif';
        line-height: 30px;
        padding-left: 10px;
        margin: 5px 40px;
      }


  /*--------------------------------------table-------*/

  #table {
      margin: 20px 20%;
      font-family: Bellota, sans-serif;
      font-size: 15px;

  }    

 /*--------------------------------------media queries----*/
@media screen and (max-width: 500px) {
    .hero-image {
        height: 75vh;
    }
}

@media screen and (min-width: 1000px) {
    .hero-image {
        background-position-y: 30%;
    }
}


@media screen and (max-width: 500px) {
    .navbar li {
        padding: 0 2%;
    }
}
@media screen and (max-width: 1000px) {
     div#map {
    min-height: 360px;
    width: 65%;
    margin: auto;
    border-radius: 10px;  
}
}
@media screen and (max-width: 750px) {
     div#map {
    min-height: 360px;
    width: 80%;
    margin: auto;
    border-radius: 10px;  
}
}

@media screen and (max-width: 550px) {
    .button-panel {
        margin: 5px 20px;
    }
}

@media screen and (max-width: 425px) {
    .button-panel {
        margin-left:1px;
       
    }
}

}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #297;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #3a8;
}